<h2>Add a New Book</h2>
<form action="/submit-book" method="post">
    <label>Book Title:</label><br>
    <input type="text" name="title" required><br><br>
    <label>No: of Pages:</label><br>
    <input type="number" name="pages" required><br><br>

    <input type="submit" value="Submit">
</form>

