<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div class="welcome-box">
    <h1><%= message %></h1>
    <p>Check your mail <b><%= user.email %></b> for quotes</p>
  </div>
</body>
</html>


