<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <style>
        h1{
        font-family: serif;
        color: blue;
        }
        b{
            color: blueviolet;
        }
  </style>
</head>
<body>
  <h1>Welcome to the Movie Club</h1>
  <p>Your email: <b><%= email %></b></p>
</body>
</html>
