<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Success</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <h1>Product<i> <%= name %></i> saved <span style="color: rgb(33, 212, 33);">successfully!</span></h1>
  <a href="/">Add another product</a>
</body>
</html>



