<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= hobbyTitle %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1><%= hobbyTitle %></h1>
  <p><%= hobbyDescription %></p>
  <img src="/images/Writing.jpeg" alt="Image of a written note">
</body>
</html>
