<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Travel_Website</title>
  <style>
    h1{
      color: brown;
    }
    b{
      color: rgb(8, 98, 171);
      font-size: large;
    }
  </style>
</head>
<body>
<h1><%= msg %></h1>
  <ul>
     <% for(let i = 0; i < travel_places.length; i++) { %>
      <li>
      <b><%= travel_places[i].name %></b>, <%= travel_places[i].country %>
      <% if(travel_places[i].isPopular) { %>
      ? Popular Destination!
      <% } %>
      </li>
      <% } %>
    </ul>
    <script>
        alert("Welcome,Let's explore the World with us!");
    </script>
</body>
</html>

