<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= storeName %></title>
  <style>
    body{
      
    }
    b{
      color: maroon;
      font-size: large;
    }
  </style>
</head>
<body>
  <h1><%= storeName %></h1>
  <h2 style="color: green;">List of available books...</h2>
  <ul>
    <% books.forEach(book => { %>
      <li><b><%= book.title %></b> by <b><%= book.author %></b>
      </li>
    <% }) %>
  </ul>
  <script>
    console.log("Welcome to My Book Store!");
  </script>
</body>
</html>

