<!DOCTYPE html>
 <html>
   <head>
     <title>The Roaming Writer</title>
            <style type="text/css">
                    h1{
                      color: brown;
                    }
                    p{
                      background-color:green;
                      color: white;
                    }

            </style>
   </head>
   <body>
     <h1>The Roaming Writer</h1>
     <p>Welcome to my<span style="color: rgb(133, 221, 237);font-size: larger;"> travel blog!!!</span>I share tips,stories and guides to help you explore the world!</p>
     <img src="/images/touristplaces.jpg" alt="Image of different tourist destionations in India" style="border: 4px inset rgb(4, 83, 128);width:30%;height:20%;">
   </body>
 </html>