<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <h1>Top 5 Products</h1>
  <ul>
    <% products.forEach(product => { %>
      <li ><%= product.name %> - $<%= product.price.toFixed(2) %></li>
    <% }) %>
  </ul>
</body>
</html>

