<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Club Registration</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

  <form action="/createUser" method="POST">
    <h1>Book Club Registration</h1>

    <label>Name</label>
    <input type="text" name="name" value="<%= oldData.name || '' %>">

    <label>Email</label>
    <input type="text" name="email" value="<%= oldData.email || '' %>">

    <label>Password</label>
    <input type="password" name="password">

    <input type="submit" value="Register">

    <% if (errors && errors.length > 0) { %>
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>
  </form>

</body>
</html>
