<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up for Daily Quotes</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

  <form action="/createUser" method="POST">
    <h1>Daily Quotes Signup</h1>

    <label>Username</label>
    <input type="text" name="username" value="<%= oldData.username || '' %>">
    <label>Email</label>
    <input type="text" name="email" value="<%= oldData.email || '' %>">
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit" value="Sign Up">

    <% if (errors && errors.length > 0) { %>
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>
  </form>

</body>
</html>
