body {
    font-family: Arial, sans-serif;
    background: #8cfb7e;
    margin: 0;
    padding: 20px;
}

header {
    background: #054d37;
    color: white;
    padding: 1rem;
    text-align: center;
}
h2{
    color: purple;
}
label{
    color: green;
}
nav a {
    color: rgb(167, 243, 249);
    text-decoration: none;
    margin: 0 10px;
}
input[type="submit"]{
    background-color: rgb(43, 1, 68);
    color: aquamarine;
    width: 20%;
    border-color: crimson;
}

main {
    background: white;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    border-radius: 8px;
}


