body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #e09ac4;
    color: #333;
}

header {
    background-color: #370353;
    color: rgba(58, 203, 236, 0.934);
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 0.5rem;
}

nav a {
    color: rgb(219, 98, 209);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #07655b;
}

ul {
    list-style: square;
    padding-left: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-top: 1rem;
}


